section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 500px;
  width: 100%;
}

#divWeatherMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 200px;
  height: 220px;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(8, 7, 42, 1) 75%, rgb(8, 10, 63) 100%);
  color: white;
  ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weatherWidgetRow {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.sun {
  margin-top: 10px;
  color: yellow;
  filter: drop-shadow(1px 1px 10px yellow);
}

.moon {
  margin-top: 10px;
  color: white;
  filter: drop-shadow(1px 1px 10px white);
}

.cloudDiv {
  margin-top: -40px;
}

.cloud {
  color: rgb(104, 175, 197);
  filter: drop-shadow(1px 1px 5px rgb(104, 175, 197));
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes cloudMovement {
  from {
    margin-left: -55px;
  }

  to {
    margin-left: 65px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    width: 100%;
  }
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #202020;
  letter-spacing: 0.5px;
  outline: none;
  margin: 10px;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #202020;
}

button {
  margin-top: 50px;
  width: 50%;
  background-color: #000000;
  color: #ffffff !important;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black !important;
}
