<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form [formGroup]="loginForm">
  <h3>create your account</h3>
  <label for="username">Name:</label>
  <input type="text" placeholder="Name" formControlName="name">

  <label for="username">Email:</label>
  <input type="text" placeholder="Email" formControlName="email">

  <label for="password">Password:</label>
  <input formControlName="password" type="password" placeholder="Password" id="password">

  <button (click)="create()" type="submit" [disabled]="loginForm.invalid">Create</button>
</form>
